<div class="col-sm-8 offset-sm-2">
    <form id="cityform" name="cityform" method="POST" action="./lib/save.php">

        <!-- meta info -->
        <input type="hidden" id="table" name="table" value="images">
        <input type="hidden" id="pkey" name="pkey" value="img_id">
        <input type="hidden" id="afterinsert" name="afterinsert" value="steden.php">
        <input type="hidden" id="afterupdate" name="afterupdate" value="steden.php">
        <!-- end meta info -->

        <!-- security -->
        <input type="hidden" name="csrf" value="%csrf_token%">
        <!-- end security -->


        <div class="form-group row">
            <label for="img_id" class="col-sm-4 col-form-label ">ID</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control" id="img_id" name="img_id" value="%img_id%" placeholder="%img_id%">
            </div>
        </div>
        <div class="form-group row">
            <label for="img_title" class="col-sm-4 col-form-label ">Stad</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="img_title" name="img_title" value="%img_title%" placeholder="%img_title%">
                %img_title_error%
            </div>
        </div>
        <div class="form-group row">
            <label for="img_filename" class="col-sm-4 col-form-label ">Bestandsnaam</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control" id="img_filename" name="img_filename" value="%img_filename%" placeholder="%img_filename%">
            </div>
        </div>
        <div class="form-group row">
            <label for="img_width" class="col-sm-4 col-form-label ">Breedte</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="img_width" name="img_width" value="%img_width%" placeholder="%img_width%">
                %img_width_error%
            </div>
        </div>
        <div class="form-group row">
            <label for="img_height" class="col-sm-4 col-form-label ">Hoogte</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="img_height" name="img_height" value="%img_height%" placeholder="%img_height%">
                %img_height_error%
            </div>
        </div>

        <div class="form-group row">
            <label for="img_cou_id" class="col-sm-4 col-form-label ">Land</label>
            <div class="col-sm-8">
                %select_country%
                %img_cou_id_error%
            </div>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Pas de data aan</button>
    </form>
    <img src="./img/%img_filename%" alt="A view from %img_title%" title ="A view from %img_title%">
    <a href="steden.php">Terug naar overzicht</a>
</div>