img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    border-radius: 4px;
}
.container {
    padding-bottom: 8px;
}
div.col-sm-12 {
    transition: all 300ms ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
}
div.col-sm-12:hover {
    transform: scale(1.015);
    box-shadow: 0px 8px 9px -3px rgba(68,68,68,0.61);
    background-color: #eeeeee;
}
.btn {
    margin-right: 8px;
    margin-bottom: 8px;
}
.buttonbar {
    margin-bottom: 8px;
    margin-left: 16px;
}

h3 > a:hover {
    text-decoration: none;
}

.mb0 {
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 2rem;
}

#cityform {
    margin-top: 2rem;
}